#cuadrado {
	width: 2cm;
	height: 2cm;
	margin-left: 1cm;
	margin-top: 1cm;
	position: absolute;
	background-color: rgb(168, 197, 0);
}

#cuadrado2 {
	width: 2cm;
	height: 2cm;
	margin-left: 5cm;
	margin-top: 3cm;
	position: absolute;
	background-color: rgb(0, 183, 255);
	border-radius: 60px;
}

#cuadrado img{
	width: 2cm;
	height: 2cm;
}

body {
	background-color: linen;
	display:ruby;
}

#botones {
	margin-top: 60%;
}