body{
    margin: 0;
    background-image: url(recursos/fondo.png);
    background-position: top;
}


#color{
    height: 100%;
    width: 100%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    transition:  1.5s;
    background: repeating-linear-gradient(45deg, #1a63ab66, #00000000 450px);
}

h2{
    font-family: sans-serif;
    font-size: 17pt;
    font-variant-caps: normal;
}



h1{
    font-size: 26pt;
    font-family: sans-serif;
}

#principio{
    background-color: rgba(58, 58, 58);
    height: 170px;
    position: relative;
    box-shadow: 0px -6px 20px 1px black;
    background: linear-gradient(45deg, #0000009e, #3a3a3adb 60%);
}


#principio h1{
    margin-top: 80px;
    position: absolute;
    color: white;
    margin-left: 13%;
}


#principio h2{
    margin-top: 125px;
    position: absolute;
    color: white;
    margin-left: 13%;
}

#principio img{
    width: 190px;
    position: relative;
    z-index: 2;
    margin-top: 34px;
    float: right;
    margin-right: 11%;
}

#trabajos{
    width: 100%;
   position: absolute;
}



#listado{
    list-style: none;
    padding: 0;
    margin: auto;
    width: max-content;
    margin-top: 147px;
    margin-bottom: 250px;
    border-radius: 5px;
}

#listado li{
    float: left;
    border-left-style: solid;
    border-left-width: 2px;
    border-color: rgba(66, 66, 66);
}

#listado li:first-child{
    border-style: none;
}

#listado li:first-child #boton{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #929292;
}

#listado li:last-child #boton{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#listado li input:hover{
    background-color: #929292;
    outline-style: none;
}

#contenido{
    width: 954px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
    background-color: rgb(58 58 58 / 87%);
    padding: 93px;
    padding-top: 39px;
    padding-bottom: 39px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px black;
}

#ejercicio{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 39px;
    border-style: none;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

#enunciado{
    border-style: none;
    width: 100%;
    height: 170px;
    background-color: #383b3b;
    border-radius: 5px;
}


#boton{
    border-style: none;
    background-color: rgb(58, 58, 58);
    cursor: pointer;
    padding: 30px;
    color: white;
    transition: all 0s cubic-bezier(0.4, 0, 1, 1) 0s;;
}

#opciones, #opciones18Junio{
    position: absolute;
    display: none;
    margin-top: 84px;
    margin-left: -124px;
    border-style: solid;
    border-color: #424242;
    border-width: 2px;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 0px 0px 20px 1px black;
}


