body{
    margin: 0;
    background-image: url(recursos/fondo.png);
    background-position: top;
}

span{
    width: 0px;
    height: 7px;
    position: fixed;
    background-color: rgba(0, 62, 143, 0.719);
    z-index: 2;
    transition: all ease-out 0.5s;
}

#color{
    height: 100%;
    width: 100%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: 0;
    transition:  1.5s;
    background-color: #0d0d0d;
    background-image: 
    radial-gradient(at 47% 33%, hsl(131deg 100% 36%) 0, transparent 59%), 
    radial-gradient(at 121% 115%, hsl(203deg 100% 35%) 0, transparent 55%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#color:before{
    content: "";
    position: absolute;
    margin-left: -91%;
    margin-top: 30%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: repeating-linear-gradient( 
45deg
 , #0ba09982, #d4d4f500, #0ba09982 240px);
    box-shadow: 0px 0px 18px 6px #0000004a;
}

#color:after{
    content: "";
    position: absolute;
    margin-right: -91%;
    margin-bottom: 30%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: repeating-linear-gradient( 
45deg
 , #0ba09982, #d4d4f500, #0ba09982 240px);
    box-shadow: 0px 0px 18px 6px #0000004a;
    animation: color 15s ease infinite;
}

h2{
    font-family: sans-serif;
    font-size: 17pt;
    font-variant-caps: normal;
}

h1{
    font-size: 26pt;
    font-family: sans-serif;
}

#principio{
    background-color: rgba(58, 58, 58);
    height: 170px;
    position: relative;
    box-shadow: 0px -6px 20px 1px black;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.75);
}

#principio:after{
    content: "";
    display: block;
    position: absolute;
    margin-top: 156px;
    margin-left: 13.1%;
    width: 0px;
    height: 5px;
    background-image: linear-gradient(45deg, #27c5f5, #5af067, #27c5f5);
    transition: all 1s;
}

#principio h1{
    margin-top: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, #5af067, #27c5f5, #5af067);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-left: 13%;
    transition: all 1s;
}


#principio:hover:after{
    width: 165px;
}

#principio:hover h1{
    background-position-x: 350px;
}

#principio h2{
    margin-top: 125px;
    position: absolute;
    color: white;
    margin-left: 13%;
}

#principio img{
    width: 190px;
    position: relative;
    z-index: 2;
    margin-top: 34px;
    float: right;
    margin-right: 11%;
}

#trabajos{
    width: fit-content;
    margin: auto;
  
}

#listado{
    list-style: none;
    padding: 0;
    margin: auto;
    width: max-content;
    margin-top: 147px;
    margin-bottom: 250px;
    border-radius: 5px;
}

#listado li{
    float: left;
    border-left-style: solid;
    border-left-width: 2px;
    border-color: rgba(66, 66, 66);
    outline-style: none;
}

#listado li:first-child{
    border-style: none;
}

#boton{
    outline-style: none;
}

#listado li:first-child #boton{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #929292;
}

#listado li:last-child #boton{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#listado li input:hover{
    background-color: #424242;
    outline-style: none;
}

#contenido{
    width: 954px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.75);
    padding: 93px;
    padding-top: 39px;
    padding-bottom: 39px;
    border-radius: 5px;
    z-index: -1;
}

#ejercicio{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 39px;
    border-style: none;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

#enunciado{
    border-style: none;
    width: 100%;
    height: 170px;
}



#boton{
    border-style: none;
    background-color: #1f1f1fdb;
    cursor: pointer;
    padding: 30px;
    color: white;
    transition: all 0s cubic-bezier(0.4, 0, 1, 1) 0s;
    z-index: 2;
    outline-style: none ;
}

#listado li:after{
    content: "";
    display: block;
    position: relative;
    height: 3px;
    background-image: linear-gradient(45deg, #59acff, #0080ff, #59acff);
    width: 0;
    margin: auto;
    transition: all 0.7s;
    animation: color 15s ease infinite;
}

#listado li:hover:after{
    width: 100%;
}

#opciones, #opciones18Junio{
    display: none;  
    opacity: 0;
    transition: all 1s;
    margin-left: -8px;
}



nav{
    width: 130px;
    background-color: #1f1f1fdb;
}

label{
    font-family: Arial;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    background-color: #0000009e;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    user-select: none;
}




#listaEjercicios{
    background-color: #031016;
    color: white;
    list-style: none;
    padding: 0;
    width: 200px;
    border: rgb(65, 65, 65) solid 1px;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 1px;
}


#cosas{
    overflow: hidden;
    position: absolute;
    width: fit-content;
    height: 0;
    transition: all .3s cubic-bezier(0.1, 0.1, 0.4, 0.43);
    z-index: 1;
}

#boton{
    background-color: transparent;
    height: fit-content;
    width: 100%;
    padding: 0;
    font-size: 23px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#listaEjercicios li{
    background-color: transparent;
    cursor: pointer;
   
}

#listaEjercicios li:hover{
    background-color: #323537e6;
}

#arrow{
    position: relative;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255) ;
    clip-path: polygon(50% 80%, 0 20%, 100% 20%);
  margin-top: 14px;
    margin-left: 10px;
    transition: all .5s;
}

.input-btn{
    display: none;
}




#listaContenedor{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 30px;
  ;
}

#listaContenedor div{
    margin-right: 25px;
}


#silla{
    position: fixed;
    top: 90%;
    left: 95%;
    z-index: 2;
    width: 60px;
    transition: all .2s
}

[id="input-silla"]:checked + #silla{
    transform: rotate(180deg);
}

